<div class="hero-overlay"></div>
<div class="container hero-container">
  <div class="hero-content">
    <h1 class="hero-title">Quantumania</h1>
    
    <div class="hero-stars">
      <img src="./img/full.svg" alt="star" class="star-icon">
      <img src="./img/full.svg" alt="star" class="star-icon">
      <img src="./img/full.svg" alt="star" class="star-icon">
      <img src="./img/full.svg" alt="star" class="star-icon">
      <img src="./img/half.svg" alt="star" class="star-icon">
    </div>
    
    <p class="hero-desc">
      Super-Hero find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible.
    </p>
    
    <div class="hero-buttons">
      <button class="btn-watch">Watch trailer</button>
      <button class="btn-more">More details</button>
    </div>
  </div>
</div>